<!DOCTYPE html>
<html>
<head>
	{% block head %}
	<meta charset=utf-8 />
	<title>{% block title %}{% endblock %} - Boostrap</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	{{ link_tag('assets/css/bootstrap.css') | raw }}
	{{ link_tag('assets/css/bootstrap-responsive.css') | raw }}
	{{ link_tag('assets/css/docs.css') | raw }}
	{{ link_tag('assets/js/google-code-prettify/prettify.css') | raw }}

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <!-- Le fav and touch icons -->
      {{ link_tag('assets/ico/favicon.ico', 'shortcut icon', 'image/ico') | raw }}
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ base_url() }}assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ base_url() }}assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ base_url() }}assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="{{ base_url() }}assets/ico/apple-touch-icon-57-precomposed.png">
      {% endblock %}
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">

  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          	{{ anchor('home', 'ThefCMS', {'class':'brand'}) | raw }}
          <div class="nav-collapse collapse">
            {{ menu | raw }}
          </div>
        </div>
      </div>
    </div>

  	<div id="container">
  		<div id="content">{% block content %}{% endblock %}</div>
  		<div id="footer">
  			{% block footer %}
  			<footer class="footer">
  				<div class="container">
  					<p class="pull-right"><a href="#">Back to top</a></p>
  					<p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
  					<p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
            <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
            <p>Page rendered in <strong>{{ elapsed_time }}</strong> seconds. Memory usage: <strong>{{ memory_usage }}</strong></p>

            <ul class="footer-links">
              <li><a href="http://blog.getbootstrap.com">Blog</a></li>
              <li class="muted">&middot;</li>
              <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>
              <li class="muted">&middot;</li>
              <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>
            </ul>
  				</div>
  			</footer>
  			{% endblock %}
  		</div>
  	</div>

  	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  	<script src="{{ base_url() }}assets/js/jquery.js"></script>
  	<script src="{{ base_url() }}assets/js/google-code-prettify/prettify.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-transition.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-alert.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-modal.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-dropdown.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-scrollspy.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-tab.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-tooltip.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-popover.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-button.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-collapse.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-carousel.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-typeahead.js"></script>
  	<script src="{{ base_url() }}assets/js/bootstrap-affix.js"></script>
  	<script src="{{ base_url() }}assets/js/application.js"></script>
  </body>
  </html>